USE [master]
GO
/****** Object:  Database [kutuphane]    Script Date: 21.03.2017 21:59:45 ******/
CREATE DATABASE [kutuphane] ON  PRIMARY 
( NAME = N'kutuphane', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\kutuphane.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'kutuphane_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\kutuphane_log.ldf' , SIZE = 3456KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [kutuphane].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [kutuphane]
GO
USE [kutuphane]
GO
/****** Object:  Table [dbo].[islem]    Script Date: 21.03.2017 21:59:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[islem](
	[islemno] [int] IDENTITY(1,1) NOT NULL,
	[ogrno] [int] NULL,
	[kitapno] [int] NULL,
	[atarih] [datetime] NULL,
	[vtarih] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[kitap]    Script Date: 21.03.2017 21:59:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kitap](
	[kitapno] [int] IDENTITY(1,1) NOT NULL,
	[isbnno] [char](20) NULL,
	[kitapadi] [varchar](100) NULL,
	[yazarno] [int] NULL,
	[turno] [int] NULL,
	[sayfasayisi] [int] NULL,
	[puan] [int] NULL,
 CONSTRAINT [PK_kitap] PRIMARY KEY CLUSTERED 
(
	[kitapno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ogrenci]    Script Date: 21.03.2017 21:59:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ogrenci](
	[ogrno] [int] IDENTITY(1,1) NOT NULL,
	[ograd] [nchar](10) NULL,
	[ogrsoyad] [nchar](20) NULL,
	[cinsiyet] [nchar](1) NULL,
	[dtarih] [datetime] NULL,
	[sinif] [nchar](4) NULL,
	[puan] [bigint] NULL,
 CONSTRAINT [PK_ogrenci] PRIMARY KEY CLUSTERED 
(
	[ogrno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tur]    Script Date: 21.03.2017 21:59:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tur](
	[turno] [int] IDENTITY(1,1) NOT NULL,
	[turadi] [nchar](30) NULL,
 CONSTRAINT [PK_tur] PRIMARY KEY CLUSTERED 
(
	[turno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[yazar]    Script Date: 21.03.2017 21:59:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[yazar](
	[yazarno] [int] IDENTITY(1,1) NOT NULL,
	[yazarad] [nchar](20) NULL,
	[yazarsoyad] [nchar](20) NULL,
 CONSTRAINT [PK_yazar] PRIMARY KEY CLUSTERED 
(
	[yazarno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[islem] ON 

INSERT [dbo].[islem] ([islemno], [ogrno], [kitapno], [atarih], [vtarih]) VALUES (1, 73, 10, CAST(N'2006-01-01T00:00:00.000' AS DateTime), CAST(N'2006-01-17T00:00:00.000' AS DateTime))
INSERT [dbo].[islem] ([islemno], [ogrno], [kitapno], [atarih], [vtarih]) VALUES (2, 6, 17, CAST(N'2006-01-02T00:00:00.000' AS DateTime), CAST(N'2006-01-07T00:00:00.000' AS DateTime))
INSERT [dbo].[islem] ([islemno], [ogrno], [kitapno], [atarih], [vtarih]) VALUES (3, 59, 11, CAST(N'2006-01-03T00:00:00.000' AS DateTime), CAST(N'2006-01-06T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[islem] OFF
SET IDENTITY_INSERT [dbo].[kitap] ON 

INSERT [dbo].[kitap] ([kitapno], [isbnno], [kitapadi], [yazarno], [turno], [sayfasayisi], [puan]) VALUES (1, N'253-335-3934-16-4   ', N'Abdülhamidin Kurtlarla Dansı', 26, 3, 368, 22)
INSERT [dbo].[kitap] ([kitapno], [isbnno], [kitapadi], [yazarno], [turno], [sayfasayisi], [puan]) VALUES (2, N'295-115-3846-25-2   ', N'Ablamı Nereye Kaçırdılar', 6, 1, 220, 27)
INSERT [dbo].[kitap] ([kitapno], [isbnno], [kitapadi], [yazarno], [turno], [sayfasayisi], [puan]) VALUES (3, N'127-255-2542-27-4   ', N'Anayurttan Anadoluya', 18, 6, 311, 19)
SET IDENTITY_INSERT [dbo].[kitap] OFF
SET IDENTITY_INSERT [dbo].[ogrenci] ON 

INSERT [dbo].[ogrenci] ([ogrno], [ograd], [ogrsoyad], [cinsiyet], [dtarih], [sinif], [puan]) VALUES (1, N'Hülya     ', N'Yiğit               ', N'K', CAST(N'1990-04-08T00:00:00.000' AS DateTime), N'10A ', 0)
INSERT [dbo].[ogrenci] ([ogrno], [ograd], [ogrsoyad], [cinsiyet], [dtarih], [sinif], [puan]) VALUES (2, N'Niyazi    ', N'Sevinç              ', N'E', CAST(N'1990-11-11T00:00:00.000' AS DateTime), N'9B  ', 0)
INSERT [dbo].[ogrenci] ([ogrno], [ograd], [ogrsoyad], [cinsiyet], [dtarih], [sinif], [puan]) VALUES (3, N'İsmail    ', N'Sevinç              ', N'E', CAST(N'1990-04-17T00:00:00.000' AS DateTime), N'10B ', 0)
GO
SET IDENTITY_INSERT [dbo].[ogrenci] OFF
SET IDENTITY_INSERT [dbo].[tur] ON 

INSERT [dbo].[tur] ([turno], [turadi]) VALUES (1, N'Dram                          ')
INSERT [dbo].[tur] ([turno], [turadi]) VALUES (2, N'Komedi                        ')
INSERT [dbo].[tur] ([turno], [turadi]) VALUES (3, N'Roman                         ')
SET IDENTITY_INSERT [dbo].[tur] OFF
SET IDENTITY_INSERT [dbo].[yazar] ON 

INSERT [dbo].[yazar] ([yazarno], [yazarad], [yazarsoyad]) VALUES (1, N'Leyla               ', N'Çelik               ')
INSERT [dbo].[yazar] ([yazarno], [yazarad], [yazarsoyad]) VALUES (2, N'Zeynep              ', N'Emin                ')
INSERT [dbo].[yazar] ([yazarno], [yazarad], [yazarsoyad]) VALUES (3, N'Ali                 ', N'Yazar               ')
SET IDENTITY_INSERT [dbo].[yazar] OFF
ALTER TABLE [dbo].[islem]  WITH CHECK ADD  CONSTRAINT [FK_islem_kitap1] FOREIGN KEY([kitapno])
REFERENCES [dbo].[kitap] ([kitapno])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[islem] CHECK CONSTRAINT [FK_islem_kitap1]
GO
ALTER TABLE [dbo].[islem]  WITH CHECK ADD  CONSTRAINT [FK_islem_ogrenci1] FOREIGN KEY([ogrno])
REFERENCES [dbo].[ogrenci] ([ogrno])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[islem] CHECK CONSTRAINT [FK_islem_ogrenci1]
GO
ALTER TABLE [dbo].[kitap]  WITH CHECK ADD  CONSTRAINT [FK_kitap_tur] FOREIGN KEY([turno])
REFERENCES [dbo].[tur] ([turno])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[kitap] CHECK CONSTRAINT [FK_kitap_tur]
GO
ALTER TABLE [dbo].[kitap]  WITH CHECK ADD  CONSTRAINT [FK_kitap_yazar] FOREIGN KEY([yazarno])
REFERENCES [dbo].[yazar] ([yazarno])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[kitap] CHECK CONSTRAINT [FK_kitap_yazar]
GO
USE [master]
GO
